<div class="">
  <app-spinner [loader]="loader" />
</div>

<div
  class="dashboard hidden md:grid grid-cols-[280px_1fr] min-h-screen bg-[#f8fafc] font-sans text-text-dark"
>
  <!-- Sidebar -->
  <div class="sidebar bg-sidebar-bg text-text-light relative z-10">
    <div class="brand flex items-center py-3! px-6!">
      <div
        class="logo w-8 h-8 bg-gradient-to-br from-primary to-accent rounded-lg mr-3"
      ></div>
      <h1 class="text-xl font-semibold m-0">Spectre</h1>
    </div>
    <div class="nav-menu">
      <ul class="py-4">
        <li class="active">
          <a
            routerLink="/dashboard"
            class="flex items-center py-3 px-6 text-[#001e46]! font-bold no-relative transition-all duration-300 text-decoration-none ease-[cubic-bezier(0.25,0.8,0.25,1)] hover:bg-[#cfe2ff] hover:rounded-md!"
          >
            <div
              class="nav-icon w-6 h-6 mr-3 px-0.5! flex items-center justify-center"
            >
              <img
                src="assets/icons/home-rounded.svg"
                alt=""
                width="30"
                height="30"
              />
            </div>
            <span>Dashboard</span>
          </a>
        </li>
        <li>
          <a
            routerLink="/employee"
            class="flex items-center py-3 px-6 text-[#001e46]! font-bold no-relative transition-all duration-300 text-decoration-none ease-[cubic-bezier(0.25,0.8,0.25,1)] hover:bg-[#cfe2ff] hover:rounded-md!"
          >
            <div
              class="nav-icon w-6 h-6 mr-3 px-0.5! flex items-center justify-center"
            >
              <img
                src="assets/icons/raphael--users-blue.svg"
                alt=""
                width="30"
                height="30"
              />
            </div>
            <span>Employees</span>
          </a>
        </li>
        <li>
          <a
            routerLink="/leave"
            class="flex items-center py-3 px-6 text-[#001e46]! font-bold no-relative transition-all duration-300 text-decoration-none ease-[cubic-bezier(0.25,0.8,0.25,1)] hover:bg-[#cfe2ff] hover:rounded-md!"
          >
            <div
              class="nav-icon w-6 h-6 mr-3 px-0.5! flex items-center justify-center"
            >
              <img
                src="assets/icons/solar--exit-bold-blue.svg"
                alt=""
                width="30"
                height="30"
              />
            </div>
            <span>Leave Management</span>
          </a>
        </li>

        <!-- <button
          matButton
          [matMenuTriggerFor]="siteActions"
          class="text-[#001e46]!"
        >
          Site Actions
        </button>
        <mat-menu #siteActions="matMenu" class="bg-[#001e46]!">
          <button
            mat-menu-item
            [matMenuTriggerFor]="reports"
            class="text-white!"
          >
            Reports
          </button>
          <button
            mat-menu-item
            [matMenuTriggerFor]="settings"
            class="text-white! py-2!"
          >
            Settings
          </button>
        </mat-menu>

        <mat-menu #reports="matMenu" class="bg-[#001e46]!">
          <button mat-menu-item class="text-white!">Monthly Report</button>
          <button mat-menu-item class="text-white!">Annual Report</button>
          <button mat-menu-item class="text-white!">Leave Analysis</button>
          <button mat-menu-item class="text-white!">Attendance</button>
        </mat-menu>

        <mat-menu #settings="matMenu" class="bg-[#001e46]!">
          <button mat-menu-item class="text-white!">System Settings</button>
          <button mat-menu-item class="text-white!">User Management</button>
          <button mat-menu-item class="text-white!">Leave Policies</button>
          <button mat-menu-item class="text-white!">
            Notification Settings
          </button>
        </mat-menu> -->
      </ul>
      <div
        class="sidebar-footer absolute bottom-0 left-0 right-0 p-6! border-t border-white/10"
      >
        <button
          (click)="logoutFn()"
          class="logout-btn w-full flex items-center py-3 px-6 bg-transparent border-none text-[#001e46] font-bold cursor-pointer transition-all duration-300 ease-[cubic-bezier(0.25,0.8,0.25,1)] hover:text-red-500 hover:bg-white/5"
        >
          <div class="nav-icon w-6 h-6 mr-3 flex items-center justify-center">
            <img
              src="assets/icons/exit-blue.svg"
              alt=""
              width="30"
              height="30"
            />
          </div>
          <span>Logout</span>
        </button>
      </div>
    </div>
  </div>

  <!-- Main Content -->
  <div class="main-content flex flex-col min-h-screen">
    <router-outlet></router-outlet>
  </div>
</div>
<app-toast></app-toast>
