<div>
  <app-spinner [loader]="loader" />
</div>

<div class="login-container relative">
  <div class="login-card">
    <h2>Employee Dashboard</h2>

    <form [formGroup]="loginFormObj" class="login-form">
      <!-- Email -->
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          class="form-control"
          formControlName="emailId"
          required
          placeholder="Enter your email"
        />

        @if (loginFormObj.get('emailId')?.touched &&
        loginFormObj.get('emailId')?.invalid) {
        <div class="error-message">
          <small class="text-red-500 font-bold">
            @if (loginFormObj.get('emailId')?.errors?.['required']) { Input
            Email } @if (loginFormObj.get('emailId')?.errors?.['email']) { Enter
            valid email }
          </small>
        </div>
        }
      </div>

      <!-- Password -->
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          class="form-control"
          formControlName="password"
          required
          placeholder="Enter your password"
        />

        @if (loginFormObj.get('password')?.touched &&
        loginFormObj.get('password')?.invalid) {
        <div>
          <small class="text-red-500 font-bold">
            @if (loginFormObj.get('password')?.errors?.['required']) { Input
            password } @if (loginFormObj.get('password')?.errors?.['minlength'])
            { Too short, at least 6 characters } @if
            (loginFormObj.get('password')?.errors?.['maxlength']) { Too long,
            not more than 8 characters } @if
            (loginFormObj.get('password')?.errors?.['beNumbersOnly']) { Should
            contain only numbers }
          </small>
        </div>
        }
      </div>

      <!-- Submit -->
      <button type="submit" class="login-button" (click)="onLogin()">
        Sign In
      </button>
    </form>

    <!-- <div class="login-footer">
      <a href="/forgot-password">Forgot password?</a>
    </div> -->
  </div>
</div>
